<%= render partial: 'spree/admin/users/sidebar', locals: { current: :bank_accounts } %>

<% content_for :page_title do %>
    <%= link_to @user.email, spree.edit_admin_user_url(@user) %> /
    Nova Conta Bancária
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @bank_account } %>

<div>
  <%= form_for @bank_account, url: admin_user_bank_accounts_path do |f| %>
    <%= render partial: 'spree/admin/bank_accounts/form', locals: {withdrawal: @bank_account, f: f} %>
    <%= render partial: 'spree/admin/shared/new_resource_links', locals: { collection_url: admin_user_bank_accounts_path(@user) } %>
  <% end %>
</div>
